  @media only screen and (max-width: 770px) {
    #containerbarChart {
      width: 100%  !important;
      height: 100%  !important;
    }
  }
  #containerbarChart{
    /* background-color: aqua; */
    width: 70%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }