body{
  background-color: rgb(250, 250, 250);
}
 
.img{
  width: 390px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width:770px) {
  .img{
    width: 70%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}